@import "deco-gs";

@include deco-gs(960px, 16, 10px);

body {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    #header {
        @include deco-row;
    }
    #main {
        @include deco-row;
        
        #body {
            @include deco-cell(0, 10);
            margin-top: 10px;
            height: 100%;
        }
        #sidebar {
            @include deco-cell(10, 6);
            .content {
                margin-top: 10px;
            }
        }
    }
    #footer {
        @include deco-row;
        margin-top: 10px;
    }
    .content {
        border: 1px solid black;
        min-height: 50px;
    }
}