/* The $columns-column Deco Grid System. 
 * Available in multiple variants, see http://deco.gs
 */
div.row {
  float: left;
  position: relative;
  display: block;
  width: 100%; }

div.cell {
  float: left;
  position: relative;
  left: 100%; }

/* Width classes. 
   For a given cell width, the calculation is: 
   width = (total cell width) * n - (margin*2) */
div.width-1 {
  width: 10.417%; }

div.width-2 {
  width: 22.917%; }

div.width-3 {
  width: 35.417%; }

div.width-4 {
  width: 47.917%; }

div.width-5 {
  width: 60.417%; }

div.width-6 {
  width: 72.917%; }

div.width-7 {
  width: 85.417%; }

div.width-8 {
  width: 97.917%; }

/* Positioning classes, these are subtracting from a rightmost 
   position, which is why they seem the wrong way around */
/* For a given position, the calculation is:
   -100 + (total cell width * n)*/
div.position-0 {
  margin-left: -100%; }

div.position-1 {
  margin-left: -87.5%; }

div.position-2 {
  margin-left: -75%; }

div.position-3 {
  margin-left: -62.5%; }

div.position-4 {
  margin-left: -50%; }

div.position-5 {
  margin-left: -37.5%; }

div.position-6 {
  margin-left: -25.0%; }

div.position-7 {
  margin-left: -12.5%; }

/* End of the core Deco Grid System */
/* Convenience classes — ¼, ½, ¾ widths and ¼, ½, ¾ positions. 
   Not strictly necessary. */
/* .width-1:2 */
div.width-1\3a 2 {
  width: 47.917%; }

/* .width-1:4 */
div.width-1\3a 4 {
  width: 22.917%; }

/* .width-3:4 */
div.width-3\3a 4 {
  width: 72.917%; }

/* .position-1:4 */
div.position-1\3a 4 {
  margin-left: -75%; }

/* .position-1:2 */
div.position-1\3a 2 {
  margin-left: -50%; }

/* .position-3:4 */
div.position-3\3a 4 {
  margin-left: -25.0%; }

/* Special classes for ⅓, ⅔ widths and ⅓, ⅔ positions. */
/* .width-1:3 */
div.width-1\3a 3 {
  width: 31.25%; }

/* .width-2:3 */
div.width-2\3a 3 {
  width: 64.584%; }

/* .position-1:3 */
div.position-1\3a 3 {
  margin-left: -66.666%; }

/* .position-2:3 */
div.position-2\3a 3 {
  margin-left: -33.333%; }

/* Full/leftmost are useful synonyms for full width and leftmost positioning */
div.position-leftmost {
  margin-left: -100%; }

div.width-full {
  width: 97.917%; }
